.container-full {
	height: 100vh;
	width: 100%;
	border-right: 1px;
	border-top:0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: black;
	background:#c1d6c7;
	opacity: .4;
}


.login-button {
	background-color: #44a340;
	font-weight: bold;
	color: white;
}

.login-button:hover {
	background-color: #3c9238;
}